body {
  min-height: 100vh;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    var(--background-gradient-1) 0%,
    var(--background-gradient-2) 46%,
    var(--background-gradient-3) 100%
  );
}
