body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template: 80px 1fr / 330px 1fr;
  grid-template-areas:
    "header header"
    "aside  article";
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-area: aside;
  gap: var(--generic-spacing);
  overflow: scroll;
}

aside > div {
  display: flex;
  justify-content: space-between;
}

#project-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#project-names > div {
  display: flex;
  justify-content: space-between;
}

aside > div > p {
  display: inline-block;
}

article {
  grid-area: article;
}

.dates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dates p {
  display: inline-block;
}
.dates div {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  header > img[src] {
    display: inline-block;
  }
  main {
    grid-template-areas:
      "header   header"
      "article  article";
  }
  aside {
    display: none;
  }
}
