body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template: 80px 1fr / 330px 1fr;
  grid-template-areas:
    "header header"
    "aside  article";
}

header {
  grid-area: header;
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  /* background-color: green; */
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: aside;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  /* background-color: red; */
}

aside > div {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

aside > div > p {
  display: inline-block;
}

article {
  grid-area: article;
  /* background-color: yellow; */
}
