#theme {
  filter: invert(99%) sepia(84%) saturate(44%) hue-rotate(208deg)
    brightness(118%) contrast(100%) drop-shadow(0px 4px 5px #00000029);
}

/* .add-todo-button {
  transition: all 1s ease-in-out;
} */

.add-todo-button:hover {
  /* font-size: 4.5rem; */
  /* color: white; */
  border: 2px solid white;
}

.delete:hover,
.favorite:hover,
.edit:hover,
.menu:hover,
#theme:hover,
.add-todo-button:hover,
.check:hover {
  cursor: pointer;
}

.delete:hover {
  filter: invert(22%) sepia(87%) saturate(7389%) hue-rotate(357deg)
    brightness(102%) contrast(117%);
}

.favorite:hover,
.edit:hover,
.project-name > button:hover,
.add-project:hover,
.dates > div > button:hover,
.check:hover {
  filter: invert(71%) sepia(24%) saturate(6897%) hue-rotate(2deg)
    brightness(105%) contrast(104%);
}

.menu:hover {
  filter: invert(48%) sepia(100%) saturate(3948%) hue-rotate(230deg)
    brightness(85%) contrast(86%);
}
