:root {
  --border-style: 4px solid rgba(255, 255, 255, 0.3);
  --generic-spacing: 20px;
  --shade: rgba(0, 0, 0, 0.127);
}

.red-text {
  background-color: rgb(255, 0, 0);
  border-radius: 16px;
  padding: 4px;
}

#small-text {
  font-size: 2rem;
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.468);
}

::placeholder {
  color: rgb(235, 235, 235);
}

input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

body {
  font-family: "Single Day", sans-serif;
  font-size: 2rem;
  color: white;
}

img {
  filter: invert(100);
}

header > img {
  display: none;
  height: 40px;
  width: auto;
  margin-right: 50px;
}

header {
  border-bottom: var(--border-style);
}

aside {
  border-right: var(--border-style);
}

aside > div:nth-child(1) {
  margin-top: var(--generic-spacing);
}

aside > div {
  width: 80%;
  background-color: var(--shade);
  border-radius: var(--generic-spacing);
  padding: 0 var(--generic-spacing);
}

h1 {
  margin-left: 50px;
  font-size: 60px;
}

.add-project {
  width: 100%;
  padding: 10px;
}

#project-names > div {
  width: 100%;
}

aside button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
}

main {
  height: 720px;
  width: 1320px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: var(--border-style);
}

@media only screen and (max-width: 1400px) {
  main {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    background: rgba(64, 64, 64, 0.2);
  }
}
