article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 250px;
  overflow: scroll;
  gap: var(--generic-spacing);
  margin: var(--generic-spacing);
}

.delete-project {
  height: 100%;
  width: 100%;
  background-color: var(--shade);
  border: var(--border-style);
  color: white;
}

.todo {
  background-color: var(--shade);
  font-size: 1.4rem;
  border-radius: 40px;
  padding: 15px 25px;
  display: grid;
  grid-template: 20px 1fr 20px / 1fr 50px;
  grid-template-areas:
    "title       delete"
    "description edit"
    "date        favorite";
}

.add-todo-button {
  background-color: var(--shade);
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 4rem;
}

.todo .title {
  grid-area: title;
}

.todo .description {
  grid-area: description;
  align-self: center;
}

.todo .edit {
  grid-area: edit;
  justify-self: end;
  align-self: center;
}

.todo .date {
  grid-area: date;
}

.todo .delete {
  grid-area: delete;
  justify-self: end;
  align-self: center;
}

.todo .favorite {
  grid-area: favorite;
  justify-self: end;
  align-self: center;
}
