article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 250px;
  overflow: scroll;
  gap: var(--generic-spacing);
  margin: var(--generic-spacing);
}

.delete-project {
  height: 100%;
  width: 100%;
  background-color: var(--shade);
  border: var(--border-style);
  color: white;
}

.todo {
  background-color: var(--shade);
  font-size: 1.4rem;
  border-radius: 40px;
  padding: 15px 25px;
  display: grid;
  grid-template: 40px 1fr 20px / 1fr 50px;
  grid-template-areas:
    "title       delete"
    "description edit"
    "date        favorite";
}

div[class="todo"] {
  grid-template-areas:
    "title       delete"
    "description edit"
    "date        date";
}

input[class="title"] {
  font-size: 2.1rem;
  font-weight: bold;
}

#test {
  grid-area: delete;
}

.priority-div {
  display: grid;
  height: 60%;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  grid-area: edit;
  font-size: 1.2rem;
  justify-items: start;
  align-items: center;
  align-self: center;
}

input[type="date"] {
  color-scheme: dark;
}

.priority-div > input {
  height: 18px;
}

.add-todo-button {
  background-color: var(--shade);
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 4rem;
  /* display: grid;
  grid-template: 50px 1fr 50px 50px / 1fr repeat(4, 50px);
  grid-template-areas:
    "title title title title title"
    "description description description description description"
    "date priority-1 priority-2 priority-3 important"
    "create create create create create"; */
}

.add-todo-button .input-title {
  grid-area: title;
}
.add-todo-button .input-description {
  grid-area: description;
}
.add-todo-button .input-create-button {
  grid-area: create;
}
.add-todo-button .priority-1 {
  outline: 2px solid green;
  grid-area: priority-1;
  color: green;
}
.add-todo-button .priority-2 {
  outline: 2px solid orange;
  grid-area: priority-2;
  color: orange;
}
.add-todo-button .priority-3 {
  outline: 2px solid red;
  grid-area: priority-3;
  color: red;
}

.todo .title {
  grid-area: title;
}

.todo .description {
  grid-area: description;
  align-self: center;
}

.todo .edit {
  grid-area: edit;
  justify-self: end;
  align-self: center;
}

.todo .date {
  grid-area: date;
}

.todo .delete {
  grid-area: delete;
  justify-self: end;
  align-self: center;
}

.todo .favorite {
  grid-area: favorite;
  justify-self: end;
  align-self: center;
}
